.cardContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;

  padding: 1.6rem 2rem;
  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;

  position: relative;
}

.cardContainer p {
  text-align: left;
  width: 100%;
}

.cardContainer s {
  color: var(--gray-300);
  text-align: left;
  width: 100%;
}

.round {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;

  transition: color 0.1s;
  border-radius: 2px;  color: var(--gray-300);
  cursor: pointer;
  transition: color 0.1s;
}


button:hover {
  color: var(--danger-500);
}
